// Wide Screens

@include mediaXl {}

// Tablets
@include mediaMd {

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/me.jpg') !important;
      background-size: cover;
      width: 170px;
      height: 170px;
    }
  }
}

// Smartphones
@include mediaSm {
  body {

    // Section 1
    #sec1 {
      #david {
        padding-top: 75px !important;
        font-size: 2rem !important;
      }

      #hello {
        .txt-type {
          font-size: 5rem !important;
        }

      }
    }

    // End Section 1
    // Start Section 2
    #sec2 {
      height: auto !important;

      #contain2 {

        height: 800px !important;
      }

      #about {
        font-size: 2rem !important;
      }

      #b1 {
        height: 220px !important;

        img {
          margin-top: 10px !important;
          width: 200px !important;
          height: 200px !important;
        }
      }

      #b2 {
        height: 200px !important;

        p {
          font-size: 1rem !important;
        }
      }

      #b3 {
        height: 220px !important;

        p {
          font-size: 1.3rem !important;
        }
      }
    }

    #sec3 {
      #knowledge {
        font-size: 2rem !important;
      }


      i {
        font-size: 8rem !important;
      }

      h1 {
        font-size: 2rem !important;
      }




    }

    // End Section 3
    // Start Section 4
    #sec4 {
      #work {
        font-size: 1.5rem !important;
      }

      .container-fluid {
        width: 100% !important;

        .projects {
          .row {
            .btn {
              padding: 0.5rem !important;
              font-size: 1rem !important;
            }
          }
        }
      }
    }

    // Start Section 5
    #sec5 {
      #contact {
        font-size: 1.5rem !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
      }
    }

    // Demo a
    .demo a {
      font-size: 1rem !important;
      bottom: 15px !important;
    }

    a span {
      width: 24px !important;
      height: 24px !important;
      margin-left: -12px !important;
    }
  }

}